<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9aa6fe">  <td>15/03/21 16:20:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testpage.HomePage()[pri:0, instance:testpage@150a3dc]">&gt;&gt;HomePage</td> 
<td>&nbsp;</td>  <td>main@14210919</td>   <td></td> </tr>
<tr bgcolor="9aa6fe">  <td>15/03/21 16:20:58</td>   <td>25487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testpage.hello()[pri:0, instance:testpage@150a3dc]">hello</td> 
  <td>main@14210919</td>   <td></td> </tr>
</table>
